node_modules
.next
dist
dist-ssr
.output
.vinxi
.tanstack
.nitro

.git
.github
.DS_Store

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.env
.env.*
!.env.example

tsconfig.tsbuildinfo
coverage
